@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.bg {
    background-color: #EAECEE;
}

.row img {
    width: 100%;
    height: 20rem;
}

.heading {    
    margin-top: 3rem;
}

.heading-underline {
    width: 5rem;
    height: .2rem;
    background-color: #12A434;
    margin: 1rem auto 1rem;
}

.heading h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
}

.heading h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

.about p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.btn-success {
    text-transform: uppercase;    
}

.section-two {
    margin-top: 2rem;
}

