@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.bg {
    background-color: #EAECEE;
}

.row img {
    width: 100%;
    float: left;
    height: 20rem;
}

.heading {    
    padding: 10px;
    text-align: justify
}

.heading-underline {
    width: 6rem;
    height: .2rem;
    background-color: #12A434;
    margin: 1rem auto 1rem;
}

.heading h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center
}

.heading h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}

.heading h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-bottom: 4rem;
    font-size: 1.2rem;
    color: green
}

.heading h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

 p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.0rem;
    text-align: justify;
}

.btn-success {
    text-transform: uppercase;    
}

.section-two {
    margin-top: 3.0rem;
    
}


.container {
    border: 1px solid #e6e6e6;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.table1 {
    position: relative;
    left: 6%
}

button {
    margin-bottom: 3rem;
    font-family: 'Lato', sans-serif;
    width: 70%;
    height: 3rem
}

.text-danger {
    font-size: 1.0rem
}