  
  <div class="container" *ngIf="event">
    <div class="row text-center"> <!--Start of 1st row-->
      <div class="col-md-6">
          <img src="{{event.url}}">
      </div>
  
      
      <div class="col-md-6 heading">
        <h3>{{event.eventName}}</h3>
        <div class="heading-underline"></div>
        <h4>{{event.date}}</h4>
        <h4>{{event.eventAddress}}</h4>      
        <h6>Organized By: {{event.organizerName}}</h6>
        <button  class="btn btn-success" routerLink = "/ticket/{{event.id}}" (click)="getEvent()">Get Ticket</button>
      </div>
    </div> <!--End of 1st row section-->
  
    <div class="section-two">
    <div class="row text-center about"> <!--Start of 2nd row-->
      <div class="col-md-6">
        <h3>About</h3>
        <div class="heading-underline"></div>
        <p class="lead">{{event.eventDescription}}</p>
      </div>

      <div class="col-md-6">
          <h3>Organizer Details</h3>
          <div class="heading-underline"></div>
          <p class="lead">{{event.organizerDetails}}</p>
        </div>
  
    </div>
    </div> <!--End of second row section-->
  </div><!--End of container-->
