<div class="sp-event">
    <div class="container col-12 col-md-6 col-sm-8">
        <div class="heading">
            <h2 class="text-center">Create Special Event</h2>
        </div>
        <form [formGroup]="specialEventForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Event Name</label>
            <input formControlName="eventName" type="text" class="form-control">
          </div>
          
          <div class="form-group">
              <label>Event Address</label>
              <input formControlName="eventAddress" type="text" class="form-control">
          </div>
          
          <div class="form-group">
              <label>Event Description</label>
              <textarea formControlName="eventDescription" class="form-control" rows="5"></textarea>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label>Category</label>
              <select formControlName="category" class="form-control">
                <option class="form-control" *ngFor="let category of categories">{{category.name}}</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
                <label>Country</label>
                <select formControlName="country" class="form-control">
                  <option *ngFor="let country of countries">{{country.name}}</option>
                </select>
            </div>
  
          </div>

          <div class="form-group">
              <label>Photo Url</label>
              <input formControlName="url" type="text" class="form-control">
          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label>Organizer Name</label>
              <input formControlName="organizerName" type="text" class="form-control">
            </div>
            <div class="form-group col-sm-6">
              <label>Event Date</label>
              <input formControlName="date" type="date" class="form-control">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-6">
              <label>Ticket Vacancy</label>
              <input formControlName="ticketVacancy" type="number" class="form-control">
            </div>
            <div class="form-group col-sm-6">
              <label>Price</label>
              <input formControlName="price" type="number" class="form-control">
            </div>
          </div>

          <button class="btn btn-primary mt-2 mb-2" type="button" (click)="addSubEvent()">Add Sub Event</button>

          <div formArrayName="subEvents">
            <div *ngFor="let event of subEvents.controls; let pointIndex=index" [formGroupName]="pointIndex">
              <div class="form-row">
                  <div class="form-group col-sm-4">
                    <label>Sub Event Name</label>
                    <input type="text" formControlName="name" class="form-control">
                  </div>
      
                  <div class="form-group col-sm-4">
                    <label>Start Time</label>
                    <input class="form-control" type="time" formControlName="startTime">
                  </div>
      
                  <div class="form-group col-sm-4">
                    <label>End Time</label>
                    <input class="form-control" type="time" formControlName="endTime">
                  </div>
                  
                  <div class="form-col col-sm-12">
                    <div class="form-group">
                      <label>Vacancy</label>
                      <input class="form-control" type="number" formControlName="vacancy">
                    </div>
  
                  </div>
                  
              </div>

            </div>
          </div>
          <button type="submit" class="btn btn-success mb-3">Submit</button>
    
        </form>
        
      </div>
</div>
