<div class="container col md-4">


    <h5>Users List</h5>
    <div class="heading-underline"></div>
    <div class="col-sm-8 col-md-6" style="min-width: 270px;">
    <input [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox"><br>
    </div>


  <table class="table table-sm" >

      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let user of users | grdFilter: {name: searchText, username:searchText,  id: searchText}">
          <td scope="row">{{user.id}}</td>
          <td scope="row">{{user.name}}</td>
          <td scope="row">{{user.username}}</td>
          <td scope="row">
              <button *ngIf="token.loggedIn() && token.loggedAdmin()" class="btn btn-danger" (click) = "delete(user)">Delete</button>
            </td>
        </tr>
       
      </tbody>
    </table>
