
.card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #e6e6e6;
    border-radius: 1rem;
    padding: 2rem
}

input{
    height: 1.9rem;
}

button {
    margin-bottom: 2rem
}

h4 {
    margin-bottom: 2rem
}

